<section id="students">
  <h2>Students</h2>
  <input id="studentIdInput" type="text" placeholder="Enter Student ID">
  <button (click)="fetchStudentDetails()">Fetch Student</button>
  <button (click)="toggleAddStudentForm()">Add Student</button>

  <form id="addStudentForm" class="hidden" (ngSubmit)="addStudent()" >
    <!-- Form fields for student details -->
    <input name="student_id" type="text" placeholder="Student ID">
    <input name="first_name" type="text" placeholder="First Name">
    <input name="last_name" type="text" placeholder="Last Name">
    <input name="email" type="email" placeholder="Email">
    <input name="department_id" type="text" placeholder="Department ID">
    <input name="course_id" type="text" placeholder="Course ID">
    <button type="submit" (click)="addStudent()" >Submit</button>
  </form>

  <table id="studentDetailsTable" class="hidden">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Department ID</th>
        <th>Course ID</th>
        <th>Semester ID</th>
        <th>Enrollment Start Date</th>
        <th>Enrollment End Date</th>
      </tr>
    </thead>
    <tbody id="studentTableBody"></tbody>
  </table>
</section>
